
/* Imports */
/* @import url("reset.css"); */
@import url("pygments.css");


html {
	margin: auto;
	background-color: #272822;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family : '' 'Times New Roman', Times, serif ; */
    font-size : 100% ;
    background-color : #393b32 ;
    color : #dde0d2 ;
    padding : 1em ;
    /* border : thin solid gray ; */
    border-radius : 5px ;
    display : block ;
	text-align: justify;
	text-justify: inter-word;
}

@media (min-width: 720px) {

	html {
		width: 50%;
	}
	body {
		max-width : 100% ;
	}
	nav li {
		display: inline-block ;
		/* border: thin solid gray ; */
		border-radius : 5px ;
		padding: 1em;
	}
	nav {
		text-align: center;
	}

	img {
		margin: auto;
		max-width: 60%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
  }
  
@media (max-width: 720px) {
	img {
		display: block;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
a:link    { color : #dcdce9 ; text-decoration : none ;      }
a:hover   { color : #dcdce9 ; text-decoration : underline ; }
a:visited { color : #dcdce9 ;                               }

/* h1 a { color : inherit !important }
h2 a { color : inherit !important }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important } */

pre {
    margin : 2em 1em 2em 1em ;
	border-radius : 5px ;
	padding: 1em;
	white-space: pre-wrap;
    word-break: keep-all;
}

#menu li {
    display : inline ;
}

#post-list {
    margin-bottom : 1em ;
    margin-top : 1em ;
}

nav { 
	font-weight: bold;
	/* border-bottom: thin solid black; */
	padding: 1em;
}



hgroup {
	text-align: center;
}
/* Comments */ 

#comments-list {list-style: none; margin: 0 1em;}
#comments-list blockquote {
	background: #f8f8f8;
	clear: both;
	font-style: normal;
	margin: 0;
	padding: 15px 20px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}

#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}

/* Add a Comment */
#add-comment label {clear: left; float: left; text-align: left; max-width: 150px;}
#add-comment input[type='text'],
#add-comment input[type='email'],
#add-comment input[type='url'] {float: left; max-width: 200px;}

#add-comment textarea {float: left; height: 150px; max-width: 495px;}

#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}

#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
#add-comment * {margin-bottom: .5em;}
